<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="Ruta" value="C:\Respaldos_Bds\Diarios"/>
    <add key="Dias" value="30"/>
    <!--<add key="Intervalo" value="1800000"/>-->
    <add key="Intervalo" value="5000"/>
  </appSettings>
</configuration>